<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @attendance.employee_id %>
</p>

<p>
  <strong>In time:</strong>
  <%= @attendance.in_time %>
</p>

<p>
  <strong>Out time:</strong>
  <%= @attendance.out_time %>
</p>

<p>
  <strong>Attendance date:</strong>
  <%= @attendance.attendance_date %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
